// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

  $block-name:                &; // #{$block-name}__

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  list-style: none;

  &__link-wrap {
    margin-right: 20px;

    &:last-child {
     margin-right: 0;

     #{$block-name}__link {
      padding-right: 0;
     }
    }

    &--fb svg {
      width: 13px;
      height: 22px;
    }

    &--vk svg {
      width: 30px;
      height: 18px;
    }

    &--insta svg {
      width: 26px;
      height: 26px;
    }

    &--yt svg {
      width: 24px;
      height: 24px;
    }

    &--ok svg {
      width: 13px;
      height: 22px;
    }

  }

  &__link {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;

    // #{$block-name}__link-wrap--vk & {
    //   background-color: $color-vk;
    // }

    // #{$block-name}__link-wrap--tw & {
    //   background-color: $color-tw;
    // }

    // #{$block-name}__link-wrap--gh & {
    //   background-color: $color-gh;
    // }

    svg {
      display: block;
      fill: #000;
    }
  }

  &__text {
    @include hide-text;
  }
}
