// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.js-modal-open {
  overflow: hidden;
}

.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  color: #000000;
  font-family: $font-family;

  .js-modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__dialog {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    margin: 0;
    box-shadow: 0 8px 80px rgba(0, 0, 0, 0.24);

    @media (min-width: $screen-lg) {
      width: 1000px;
      margin: auto;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        padding: 2em 0;
      }

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    outline: 0;
  }

  &__header {
    flex-shrink: 0;
    padding: 0 40px;

    @media (min-width: $screen-lg) {
      padding: 0 40px 0 80px;
    }
  }

  &__content {
    padding: 0 40px 40px;

    @media (min-width: $screen-xl) {
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 80px;
    }
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 65px;
    font-size: 30px;
    font-weight: 600;
    color: currentColor;

    @media (min-width: $screen-lg) {
      font-size: 60px;
    }
  }

  &__close {
    position: absolute !important; // stylelint-disable-line  declaration-no-important
    top: 30px;
    right: 40px;
  }

  &__body {
    flex-grow: 1;
    padding: 0 15px;
  }

  &__footer {
    flex-shrink: 0;
    padding: 15px;
  }

  &__backdrop {
    position: fixed;
    z-index: ($z-index-modal - 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, $opacity);

    @media (min-width: $screen-lg) {
      animation: modal-backdrop-show $transition-time 1;
    }
  }

  &--open {

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        align-items: flex-start;
      }
    }
  }

  &--form-msg {
    #{$block-name}__dialog {
      width: 476px;
    }
  }

  &--form-msg-success {
    #{$block-name}__inner {
      background-color: #66cc33;
    }
  }

  &--form-msg-error {
    #{$block-name}__inner {
      background-color: #cc3333;
    }
  }

  &--form-msg-error {
    #{$block-name}__inner {
      background-color: #f8fbf7;
    }
  }

  .field-text__input {
    font-size: 24px;
  }

}

@keyframes modal-backdrop-show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-content-show {

  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
