-
  var topMenu = [
    {
      "id": "10",
      "name": "Контакты",
      "url": "/"
    },
    {
      "id": "20",
      "name": "Расписание",
      "url": "/",
      // "childs": [
      //   {
      //     "id": "10-0",
      //     "name": "О компании",
      //     "url": "pages/about"
      //   },
      //   {
      //     "id": "10-10",
      //     "name": "Услуги",
      //     "url": "pages/services",
      //     "childs": [
      //       {
      //         "id": "10-10-0",
      //         "name": "Вёрстка",
      //         "url": "pages/services/serve"
      //       },
      //       {
      //         "id": "10-10-10",
      //         "name": "Стриптиз",
      //         "url": "pages/services/strip"
      //       }
      //     ]
      //   },
      //   {
      //     "id": "10-20",
      //     "name": "Ещё одна страница",
      //     "url": "pages/some"
      //   },
      // ]
    }
  ];
  var sideMenu = [
    {
      "id": "10",
      "name": "О клубе",
      "url": "/"
    },
    {
      "id": "20",
      "name": "Услуги",
      "url": "/",
      // "childs": [
      //   {
      //     "id": "10-0",
      //     "name": "О компании",
      //     "url": "pages/about"
      //   },
      //   {
      //     "id": "10-10",
      //     "name": "Услуги",
      //     "url": "pages/services",
      //     "childs": [
      //       {
      //         "id": "10-10-0",
      //         "name": "Вёрстка",
      //         "url": "pages/services/serve"
      //       },
      //       {
      //         "id": "10-10-10",
      //         "name": "Стриптиз",
      //         "url": "pages/services/strip"
      //       }
      //     ]
      //   },
      //   {
      //     "id": "10-20",
      //     "name": "Ещё одна страница",
      //     "url": "pages/some"
      //   },
      // ]
    },
    {
      "id": "30",
      "name": "Акции",
      "url": "/"
    }
  ];
  var finessMenu = [
    {
      "id": "10",
      "name": "Персональный тренинг",
      "url": "/"
    },
    {
      "id": "20",
      "name": "Групповой тренинг",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Мини-группы",
      "url": "/"
    },
    {
      "id": "40",
      "name": "Фитнес-тестирование",
      "url": "/"
    },
    {
      "id": "50",
      "name": "Детский фитнес",
      "url": "/"
    }
  ];
  var cardusersMenu = [
    {
      "id": "10",
      "name": "Фитнес-программы",
      "url": "/"
    },
    {
      "id": "20",
      "name": "Календарь событий",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Ресторан",
      "url": "/"
    },
    {
      "id": "40",
      "name": "Партнеры",
      "url": "/"
    }
  ];
