// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line
    width: device-width;
  }
}


/* stylelint-disable */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
       url('../fonts/HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'),
       url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-bold.woff2') format('woff2'),
       url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; // stylelint-disable-line
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    color: $white;
    position: relative;


    // &::before {
    //   z-index: -1;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   //top: -5280px;
    //   content: url('../img/temp/index.png');
    //   opacity: 0.4;
    // }

  }


  &__footer-wrapper {
    flex-shrink: 0;
  }

}


.page-bg {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  // background-color: rgba(200,10,10,0.2);
  // opacity: 1;

  &__inner {
    position: relative;
    height: 100%;
    @include container-wide;
  }

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;

    &--left {
      left: 0;
      width: 1px;
      background-color: #fff;
      opacity: 0.2;
    }

    &--first {
      left: get-point(1, sm);
      width: 1px;
      background-color: #fff;
      opacity: 0.2;

      @media (min-width: $screen-md) {
        left: get-point(1, md);
      }

      @media (min-width: $screen-lg) {
        left: get-point(1, lg);
      }

      @media (min-width: $screen-xl) {
        left: get-point(1, xl);
      }
    }

    &--second {
      left: get-point(2, sm);
      width: 1px;
      background-color: #66cc33;

      @media (min-width: $screen-md) {
        left: get-point(2, md);
      }

      @media (min-width: $screen-lg) {
        left: get-point(2, lg);
      }

      @media (min-width: $screen-xl) {
        left: get-point(2, xl);
      }
    }

    &--right {
      right: 1px;
      width: 1px;
      background-color: #fff;
      opacity: 0.2;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $bg-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^='tel:'] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; } // stylelint-disable-line
h2 { font-size: $font-size-h2; } // stylelint-disable-line
h3 { font-size: $font-size-h3; } // stylelint-disable-line
h4 { font-size: $font-size-h4; } // stylelint-disable-line
h5 { font-size: $font-size-h5; } // stylelint-disable-line
h6 { font-size: $font-size-h6; } // stylelint-disable-line

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  // hyphens: auto;
  // hyphenate-limit-chars: 6 3 3;
  // hyphenate-limit-lines: 2;
  // hyphenate-limit-last: always;
  // hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

.page-title {

    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-family;
    font-weight: 600;

    @media (min-width: $screen-md) {
      font-size: 80px;
    }

   &--main {
    width: 100%;
    line-height: 1.2;

    @media (min-width: $screen-md) {
      width: 560px;
      line-height: 1.1;
    }
   }

   &--schedule {
   }

}

.section-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
  word-break: keep-all;

  @media (min-width: $screen-md) {
    font-size: 60px;
  }
}

.page-tagline {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: currentColor;

  @media (min-width: $screen-md) {
    font-size: 36px;
  }

  @media (min-width: $screen-xl) {
    line-height: 41px;
  }
}


.icon {
  font-size: 0;
  line-height: 0;

  &::before {
    content: '';
    display: block;
  }

  &--cardio-white {
    &::before {
      @include sprite($cardio-white);
    }

    &:hover {
      &::before {
        @include sprite($cardio-hover);
      }
    }
  }
  &--cardio-white-large {
    &::before {
      @include sprite($cardio-white-large);
    }
  }
  &--cardio-white-xl {
    &::before {
      @include sprite($cardio-white-xl);
    }
  }

  &--combat-white {
    &::before {
      @include sprite($combat-white);
    }

    &:hover {
      &::before {
        @include sprite($combat-hover);
      }
    }
  }
  &--combat-white-large {
    &::before {
      @include sprite($combat-white-large);
    }
  }
  &--combat-white-xl {
    &::before {
      @include sprite($combat-white-xl);
    }
  }

  &--gym-white {
    &::before {
      @include sprite($gym-white);
    }

    &:hover {
      &::before {
        @include sprite($gym-hover);
      }
    }
  }
  &--gym-white-large {
    &::before {
      @include sprite($gym-white-large);
    }
  }
  &--gym-white-xl {
    &::before {
      @include sprite($gym-white-xl);
    }
  }

  &--group-white {
    &::before {
      @include sprite($group-white);
    }

    &:hover {
      &::before {
        @include sprite($group-hover);
      }
    }
}
  &--group-white-large {
    &::before {
      @include sprite($group-white-large);
    }
  }
  &--group-white-xl {
    &::before {
      @include sprite($group-white-large);
    }
  }

  &--sauna-white {
    &::before {
      @include sprite($sauna-white);
    }

    &:hover {
      &::before {
        @include sprite($sauna-hover);
      }
    }
  }
  &--sauna-white-large {
    &::before {
      @include sprite($sauna-white-large);
    }
  }
  &--sauna-white-xl {
    &::before {
      @include sprite($sauna-white-xl);
    }
  }

  &--fitness-white {
    &::before {
      @include sprite($fitness-white);
    }

    &:hover {
      &::before {
        @include sprite($fitness-hover);
      }
    }
  }
  &--fitness-white-large {
    &::before {
      @include sprite($fitness-white-large);
    }
  }
  &--fitness-white-xl {
    &::before {
      @include sprite($fitness-white-xl);
    }
  }

  &--photo-tour {
    &::before {
      @include sprite($photo-tour);
    }
  }


}

a:hover {

  color: $green;

  .icon--cardio-white {
    &::before {
      @include sprite($cardio-hover);
    }
  }

  .icon--combat-white {
    &::before {
      @include sprite($combat-hover);
    }
  }

  .icon--gym-white {
    &::before {
      @include sprite($gym-hover);
    }
  }

  .icon--group-white {
    &::before {
      @include sprite($group-hover);
    }
  }

  .icon--fintess-white {
    &::before {
      @include sprite($fitness-hover);
    }
  }

  .icon--sauna-white {
    &::before {
      @include sprite($sauna-hover);
    }
  }
}



.icon-quotes {
    // &::after {
    //   content: "\02EE";
    //   display: block;
    //   height: 0.3em;
    //   margin-bottom: 10px;
    //   font-family: $font-family--monospace;
    //   font-size: 380px;
    //   font-weight: 700;
    //   line-height: 0.3;
    //   color: currentColor;
    //   transform: rotate(180deg) translateY(80%);
    //   margin-right: -15px;
    // }

    &::after {
      content: '';
      position: absolute;
      @include sprite($quotes);
    }
}

.w100 {
  flex-basis: 100%;
}

.page {

  &__section-inner {
    @include container;
  }

  &__section-row {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }
  }

    &__section-row-col-left-2 {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
      width: get-width(1,2,md) - $screen-padding-md;
    }

    @media (min-width: $screen-lg) {
      width: get-width(1,2,lg) - $screen-padding-lg;
    }

    @media (min-width: $screen-xl) {
      width: get-width(1,2,xl) - $screen-padding-xl;
    }
  }

  &__section-img {
    position: absolute;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      // opacity: 0;
    }

    &--left {
      display: none;
      width: 1180px;
      height: 789px;
      top: -511px;
      left: 50%;
      transform: translateX(-100%);
      margin-left: -740px;

      @media (min-width: $screen-xl) {
        display: block;
      }
    }

    &--middle {
      display: none;
      width: 900px;
      height: 600px;
      left: 50%;
      top: -342px;
      transform: translateX(-50%);
      margin-left: -70px;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    &--right {
      display: none;
      width: 810px;
      height: 1215px;
      top: -759px;
      left: 50%;
      transform: translateX(100%);
      margin-left: -330px;

      @media (min-width: $screen-xl) {
        display: block;
      }
    }
  }


  &__section {
    position: relative;
    z-index: 10;

    &--mobile {
      z-index: 20;
    }

    &--social {
      padding-top: 110px;
      margin-bottom: 110px;

      @media (min-width: $screen-md) {
        padding-top: 95px;
      }

      @media (min-width: $screen-lg) {
        margin-bottom: 0;
        padding-top: 102px;
      }

      @media (min-width: $screen-xl) {
        padding-top: 92px;
      }
    }

    &--info {

    }

    &--services {
      padding-bottom: 95px;

      @media (min-width: $screen-md) {
        padding-bottom: 100px;
      }

      @media (min-width: $screen-lg) {
        padding-bottom: 230px;
      }

      @media (min-width: $screen-xl) {
        padding-bottom: 226px;
      }
    }

    &--service-desc {

      margin-bottom: 70px;

      @media (min-width: $screen-xl) {
        margin-bottom: 155px;
      }

      .page__section-inner {

        @media (min-width: $screen-lg) {
          display: flex;
          justify-content: space-between;
        }
      }

      .section-title {
        margin-bottom: 70px;

        @media (min-width: $screen-lg) {
          width: 445px;
          margin-bottom: 115px;
        }
      }

      .page__section-content {
        @media (min-width: $screen-xl) {
          width: get-width(1,2,xl) - $screen-padding-xl;
        }
      }
    }

    &--news {
      padding-bottom: 123px;

      @media (min-width: $screen-xl) {
        padding-bottom: 148px;
      }
    }

    &--schedule {
      padding-bottom: 80px;
      z-index: 110;

      @media (min-width: $screen-xl) {
        padding-bottom: 138px;
      }
    }

    &--programms {
    }

    &--main-serv {
      margin-top: 70px;
      margin-bottom: 90px;

      @media (min-width: $screen-lg) {
        margin-top: 248px;
        margin-bottom: 120px;
      }

      .section-title {
        width: 350px;
      }
    }

    &--add-serv {
      z-index: 20;

      .section-title {
        margin-bottom: 115px;

        @media (min-width: $screen-lg) {
          // width: 565px;
        }
      }

      .page__section-row {
        flex-wrap: wrap;

        @media (min-width: $screen-lg) {
          flex-wrap: nowrap;
        }
      }
    }

    &--sign-up {
      z-index: 8;

      @media (min-width: $screen-xl) {
        margin-top: 205px;
      }

      .caption-medium {
        margin-bottom: 40px;
        margin-top: 60px;

        @media (min-width: $screen-xl) {
          margin-bottom: 40px;
        }

      }

      .page__section-row {
        align-items: center;
        flex-wrap: wrap;

        @media (min-width: $screen-md) {
          flex-wrap: nowrap;
        }
      }

      .page__section-row span {
        display: inline-block;
        margin-right: 32px;
        margin-bottom: 30px;
        font-size: 11px;
        font-weight: 600;

        @media (min-width: $screen-md) {
          margin-bottom: 0;
        }
      }

      .page__section-img {
        display: none;

        @media (min-width: $screen-lg) {
          display: block;
          position: absolute;
          left: 50%;
          bottom: -24px;
          z-index: -1;
          height: 596px;

         img {
            width: 100%;
            height: 100%;
            object-fit: none;
            object-position: left top;
          }
        }
      }

    }

    &--sign-up-about {
      @media (min-width: $screen-xl) {
        margin-top: 50px;
      }
    }

    &--services-social {
      margin-bottom: 90px;
    }

    &--coaches {

      .page__section-inner {
        @include container;
      }

      .section-title {
        margin-bottom: 70px;

        @media (min-width: $screen-lg) {
          width: 500px;
        }
      }

      .page__section-content {
        // @include container;
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $screen-lg) {
          flex-wrap: nowrap;
        }
      }
    }

    &--card {
      padding-bottom: 1px;
      margin-bottom: 90px;

      @media (min-width: $screen-lg) {
        margin-bottom: 150px;
      }
    }

    &--card-features {
      margin-bottom: 25px;

      .section-title {
        margin-bottom: 85px;

        @media (min-width: $screen-lg) {
          width: 480px;
        }
      }
    }

    &--pass {

      margin-bottom: 135px;

      .section-title {
        margin-bottom: 63px;

        @media (min-width: $screen-lg) {
          width: 450px;
        }
      }
    }

    &--sign-up-pass {

      margin-top: 90px;

      @media (min-width: $screen-lg) {
        margin-top: 400px;
      }
    }

    &--programms {
      margin-bottom: 65px;
    }

    &--about-info-top {
      margin-top: 100px;
      margin-bottom: 60px;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }

    &--about-info {
      position: relative;
      margin-top: 60px;

      .page__section-inner {
        position: relative;
      }

      @media (min-width: $screen-lg) {
        margin-top: 540px;
      }

      // .page__section-col--photo-tour {

      //   @media (min-width: $screen-md) {
      //     width: get-width(3,1,md) - $screen-padding-md;
      //   }
      // }

      .card--photo-tour {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;

        @media (min-width: $screen-md) {
          margin-right: 48px;
        }
      }

      .card--photo-tour {
        margin-top: 150px;
      }
    }

    &--about-social {
      margin-bottom: 110px;
    }

    &--about-features {

      .section-title {
        @media (min-width: $screen-lg) {
          width: 500px;
          margin-bottom: 80px;
        }
      }

    }

    &--map {
      position: relative;
      z-index: 9;

      @media (min-width: $screen-lg) {
        height: 600px;
        overflow: hidden;
      }

      @media (min-width: $screen-xl) {
        height: 800px;
      }

      #map {
        opacity: 0.48;
        height: 400px;
        overflow: hidden;

        @media (min-width: $screen-lg) {
          // height: 600px;
          overflow: visible;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }

    &--feedback {
      margin-top: -30px;

      @media (min-width: $screen-lg) {
        margin-top: -60px;
      }
    }

    &--contacts-info {
      margin-top: 60px;

      @media (min-width: $screen-lg) {
        margin-top: 0;
      }
    }

  }


}

  .col-left-1 {

    // @media (min-width: $screen-md) {
    //   width: get-width(1,1,md) - $screen-padding-md;
    // }

    @media (min-width: $screen-lg) {
      width: get-width(1,1,lg) - $screen-padding-lg;
    }

    @media (min-width: $screen-xl) {
      width: get-width(1,1,xl) - $screen-padding-xl;
    }
  }

  .col-middle-1 {

    // @media (min-width: $screen-md) {
    //   width: get-width(2,1,md);
    // }

    @media (min-width: $screen-lg) {
      width: get-width(2,1,lg);
    }

    @media (min-width: $screen-xl) {
      width: get-width(2,1,xl);
    }
  }

  .col-right-1 {

    // @media (min-width: $screen-md) {
    //   width: get-width(3,1,md) - $screen-padding-md;
    // }

    @media (min-width: $screen-lg) {
      width: get-width(3,1,lg) - $screen-padding-lg;
    }

    @media (min-width: $screen-xl) {
      width: get-width(3,1,xl) - $screen-padding-xl;
    }
  }

  .col-left-2 {

    @media (min-width: $screen-md) {
      width: get-width(1,2,md) - $screen-padding-md;
    }

    @media (min-width: $screen-lg) {
      width: get-width(1,2,lg) - $screen-padding-lg;
    }

    @media (min-width: $screen-xl) {
      width: get-width(1,2,xl) - $screen-padding-xl;
    }
  }

