// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line
    width: device-width;
  }
}


/* stylelint-disable */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
       url('../fonts/HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'),
       url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-bold.woff2') format('woff2'),
       url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; // stylelint-disable-line
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    color: $white;
    position: relative;


    // &::before {
    //   z-index: -1;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   //top: -5280px;
    //   content: url('../img/temp/index.png');
    //   opacity: 0.4;
    // }

  }


  &__footer-wrapper {
    flex-shrink: 0;
  }

  &__section {
    position: relative;
    z-index: 1;

    &--mobile {
      z-index: 2;
    }

    &--social {
      padding-top: 110px;
      margin-bottom: 110px;

      @media (min-width: $screen-md) {
        padding-top: 95px;
      }

      @media (min-width: $screen-xl) {
        margin-bottom: 0;
        padding-top: 92px;
      }
    }

    &--info {
      padding-bottom: 63px;

      @media (min-width: $screen-md) {
        padding-bottom: 50px;
      }
    }

    &--services {
      padding-bottom: 95px;

      @media (min-width: $screen-md) {
        padding-bottom: 100px;
      }

      @media (min-width: $screen-xl) {
        padding-bottom: 226px;
      }
    }

    &--news {
      padding-bottom: 123px;

      @media (min-width: $screen-xl) {
        padding-bottom: 148px;
      }
    }
  }

}


.page-bg {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  // background-color: rgba(200,10,10,0.2);
  // opacity: 1;

  &__inner {
    position: relative;
    height: 100%;
    @include container-wide;
  }

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;

    &--left {
      left: 0;
      width: 1px;
      background-color: #fff;
      opacity: 0.2;
    }

    &--first {
      left: get-point(1, sm);
      width: 1px;
      background-color: #fff;
      opacity: 0.2;

      @media (min-width: $screen-md) {
        left: get-point(1, md);
      }

      @media (min-width: $screen-lg) {
        left: get-point(1, lg);
      }

      @media (min-width: $screen-xl) {
        left: get-point(1, xl);
      }
    }

    &--second {
      left: get-point(2, sm);
      width: 1px;
      background-color: #66cc33;

      @media (min-width: $screen-md) {
        left: get-point(2, md);
      }

      @media (min-width: $screen-lg) {
        left: get-point(2, lg);
      }

      @media (min-width: $screen-xl) {
        left: get-point(2, xl);
      }
    }

    &--right {
      right: 1px;
      width: 1px;
      background-color: #fff;
      opacity: 0.2;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $bg-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^='tel:'] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; } // stylelint-disable-line
h2 { font-size: $font-size-h2; } // stylelint-disable-line
h3 { font-size: $font-size-h3; } // stylelint-disable-line
h4 { font-size: $font-size-h4; } // stylelint-disable-line
h5 { font-size: $font-size-h5; } // stylelint-disable-line
h6 { font-size: $font-size-h6; } // stylelint-disable-line

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

.page-title {

   &--main {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-family;
    font-weight: 600;
    line-height: 1.2;

    @media (min-width: $screen-md) {
      width: 560px;
      font-size: 80px;
      line-height: 1.1;
    }
   }
}

.section-title {
  font-size: 40px;
  font-weight: 600;

  @media (min-width: $screen-md) {
    font-size: 60px;
  }
}

.page-tagline {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: currentColor;

  @media (min-width: $screen-md) {
    font-size: 36px;
  }

  @media (min-width: $screen-xl) {
    line-height: 41px;
  }
}


.icon {

  &::before {
    content: '';
    display: block;
  }

  &--cardio-white {
    &::before {
      @include sprite($cardio-white);
    }
  }

  &--combat-white {
    &::before {
      @include sprite($combat-white);
    }
  }

  &--gym-white {
    &::before {
      @include sprite($gym-white);
    }
  }

  &--group-white {
    &::before {
      @include sprite($group-white);
    }
  }

  &--sauna-white {
    &::before {
      @include sprite($sauna-white);
    }
  }

  &--fitness-white {
    &::before {
      @include sprite($fitness-white);
    }
  }

}

.icon-quotes {
    // &::after {
    //   content: "\02EE";
    //   display: block;
    //   height: 0.3em;
    //   margin-bottom: 10px;
    //   font-family: $font-family--monospace;
    //   font-size: 380px;
    //   font-weight: 700;
    //   line-height: 0.3;
    //   color: currentColor;
    //   transform: rotate(180deg) translateY(80%);
    //   margin-right: -15px;
    // }

    &::after {
      content: '';
      position: absolute;
      @include sprite($quotes);
    }
}

.w100 {
  flex-basis: 100%;
}

