// В этом файле должны быть стили для БЭМ-блока tour, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tour {

  $block-name:                &; // #{$block-name}__element

  height: 800px;
  width: 100%;
  margin-top: -107px;

  background-image: url("../img/content/tour.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 50px;

  @media (min-width: $screen-xl) {
    margin-bottom: 100px;
  }

  &__inner {
    @include container();
    position: relative;
    height: 100%;
  }

  &__bottom {
    position: absolute;
    width: 100%;
    bottom: -52px;
    left: 0;

    @media (min-width: $screen-md) {
      bottom: -63px;
    }

    @media (min-width: $screen-xl) {
      bottom: -66px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

    @media (min-width: $screen-md) {
      font-size: 36px;
    }

    @media (min-width: $screen-lg) {
      width: 555px;
    }

    @media (min-width: $screen-xl) {
      width: 605px;
    }
  }
}
