// В этом файле должны быть стили для БЭМ-блока news, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news {

  $block-name:                &; // #{$block-name}__element

  $item-width:                318px;

  &__inner {
    @include container-wide;
    overflow: hidden;

    @media (min-width: $screen-lg) {
      @include container;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__header {
    @include container;
    margin-top: 82px;

    @media (min-width: $screen-md) {
      margin-top: 108px;
    }

    @media (min-width: $screen-lg) {
      width: auto;
      margin-top: 120px;
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__content {
    @include container;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      flex-wrap: nowrap;
    }
  }

  &__col-right {
    @include container;

    @media (min-width: $screen-lg) {
      margin-left: 40px;
      width: get-width(3,1,lg) - $screen-padding-lg - 40px;
    }

    @media (min-width: $screen-lg) {
      margin-top: -100px;
    }

    @media (min-width: $screen-xl) {
      width: auto;
      margin-right: 0;
      margin-left: 48px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &--3-cols {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      #{$block-name}__item {

        @media (min-width: $screen-xl) {
          margin-bottom: 250px;
        }

        #{$block-name}__text {
          font-weight: 600;
          min-height: 5em;
        }

        &:nth-child(3n-2) {

          @media (min-width: $screen-xl) {
            width: get-width(1,1,xl) - $screen-padding-xl;
            padding-right: 68px;
          }
        }

        &:nth-child(3n-1) {

          @media (min-width: $screen-xl) {
            width: get-width(2,1,xl) - 1px;
            padding-right: 68px;
            padding-left: 48px;
          }
        }

        &:nth-child(3n) {

          @media (min-width: $screen-xl) {
            width: get-width(3,1,xl) - $screen-padding-xl;
            padding-left: 48px;
          }
        }
      }

    }

      &--2-cols {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      @media (min-width: $screen-lg) {
        width: get-width(1,2,lg) - $screen-padding-lg;
      }

      @media (min-width: $screen-xl) {
        width: get-width(1,2,xl) - $screen-padding-xl;
      }

      #{$block-name}__item {

        @media (min-width: $screen-lg) {
          margin-bottom: 250px;
        }

        #{$block-name}__text {
          font-weight: 600;
          min-height: 5em;
        }

        &:nth-child(2n-1) {

          @media (min-width: $screen-xl) {
            width: get-width(1,1,xl) - $screen-padding-xl;
            padding-right: 68px;
          }
        }

        &:nth-child(2n) {

          @media (min-width: $screen-xl) {
            width: get-width(2,1,xl);
            padding-right: 68px;
            padding-left: 48px;
          }
        }

        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }

      }

    }}

  &__item {
    margin-bottom: 62px;

    @media (min-width: $screen-xl) {
      //width: $item-width;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__main {
    font-size: 18px;

    @media (min-width: $screen-lg) {
      width: get-width(1,2,lg) - $screen-padding-lg;
      flex-shrink: 0;
    }

    @media (min-width: $screen-xl) {
      width: get-width(1,2,xl) - $screen-padding-xl;
    }

    #{$block-name}__excerpt {
      margin-top: 248px;
      margin-bottom: 122px;

      @media (min-width: $screen-md) {
        margin-bottom: 180px;
      }

      @media (min-width: $screen-lg) {
        width: 345px;
        margin-top: 300px;
        margin-bottom: 0;
      }
    }

    #{$block-name}__date {
      margin-bottom: 36px;
    }

    #{$block-name}__day {
      font-size: 80px;
      margin-right: 15px;
    }

    #{$block-name}__month {
      font-size: 18px;
    }

  }

  &__date {
    display: flex;
    align-items: baseline;
    margin-bottom: 32px;
  }

  &__day {
    margin-right: 8px;
    font-family: $font-family--monospace;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
  }

  &__month {
    font-family: $font-family--monospace;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }

  &__btn {
    width: $item-width;
    margin-top: 60px;
  }

  &__show-more {
    margin-right: 170px;
  }

  &__excerpt {
    position: relative;
    display: block;
    color: currentColor;
    text-decoration: none;

    @media (min-width: $screen-lg) {

    }

    &:focus,
    &:hover {
      color: $link-color--hover;
    }

    &:active {
      color: currentColor;
    }
  }

  &__img {
    width: 695px;
    height: 464px;
    position: absolute;
    bottom: -25%;
    left: 90px;
    z-index: -1;

    @media (min-width: $screen-md) {
      bottom: -75%;
      left: 205px;
    }

    @media (min-width: $screen-lg) {
      bottom: -58%;
      left: 125px;
    }

    @media (min-width: $screen-xl) {
      left: 205px;
    }
  }

  &__list-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: $screen-lg) {
      width: get-width(1,2,lg) - $screen-padding-lg;
    }

    @media (min-width: $screen-xl) {
      width: get-width(1,2,xl) - $screen-padding-xl;
    }
  }

  .section-title {
    margin-bottom: 0;
  }

  &--schedule {

    #{$block-name}__header{
      margin-top: 155px;
    }
  }

  &--service {

    #{$block-name}__header {

      @media (min-width: $screen-xl) {
        margin-top: 180px;
      }
    }
  }

  &--card {

    #{$block-name}__header {

      @media (min-width: $screen-xl) {
        margin-top: 180px;
      }
    }
  }

  &--about {

    #{$block-name}__header {

      @media (min-width: $screen-xl) {
        margin-top: 180px;
      }
    }
  }


  &--news-social {

    @at-root &#{$block-name}__list--2-cols {
        min-height: 590px;
    }
  }

  &--news-list {

    #{$block-name}__img {
      display: none;
      position: absolute;
      left: -80px;
      bottom: -70px;
      width: 695px;
      height: 464px;

      img {
        width: 100%;
        height: 100%;
        object-fit: containt;
        object-position: center;
      }
    }

    #{$block-name}__excerpt {

      @media (min-width: $screen-xl) {
        position: relative;
        &:hover {
          #{$block-name}__img {
            display: block;
          }
        }
      }
    }

  }

}
