// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {

  $block-name: &;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  &__item {
    display: block;
    min-width: 2em;
    // border: 1px solid $border-color;
    text-decoration: none;
    text-align: center;
    color: inherit;
    font-size: 13px;
    font-weight: 700;

    & + & {
      border-left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
      }
    }

    @at-root span#{&} {
      cursor: default;
    }

    &--active,
    &:hover {
      position: relative;
      padding-right: 20px + 54px;
      margin-right: 20px;
      font-size: 24px;

      &::after {
        content: '';
        position: absolute;
        width: 54px;
        height: 1px;
        background-color: currentColor;
        bottom: 0.6em;
        right: 0;
      }
    }

    &:hover {
      color: $link-color--hover;
    }
  }

  &--news {
    margin-top: 150px;

    #{$block-name}__item {

    }
  }
}
