//- Все примеси в этом файле должны начинаться c имени блока (important)

mixin important(mods)

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' important--' + modsList[i].trim();
      }
    }

  .important(class=allMods)&attributes(attributes)
    .important__inner
      .important__text
        block
