// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  &--main {
    #{$block-name}__inner {
      height: 800px;
    }
  }


  &__inner {
    @include container-wide;
    position: relative;
  }


  &__top {
    padding-top: 30px;
    @include container;
    display: flex;
    position: relative;
  }

  &__content {
    @include container;

    &--schedule {
      margin-top: 65px;
    }
  }

  &__content-row {
    &--breadcrumbs {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    // background-color: $black;


    video,
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
    }
  }

  &__bottom {
    position: absolute;
    bottom: -52px;
    width: 100%;

    @media (min-width: $screen-xl) {
    }
  }

  &__bottom-inner {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }
  }


  &__btn-play {
    margin-left: auto;
    margin-right: 44px;
    margin-bottom: 48px;
    order: -2;

    @media (min-width: $screen-md) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      order: 1;
    }

    @media (min-width: $screen-lg) {
      position: absolute;
      top: -140px;
      right: 0;
    }

    @media (min-width: $screen-xl) {
      position: relative;
      top: auto;
      right: auto;
      margin-left: 32px;
      margin-right: auto;
      margin-bottom: 0;
      order: 1;
    }
  }

  &__card-link {
    margin-top: 3px;
    font-size: 13px;
  }

  &__links {
    margin-bottom: 55px;
    order: -1;

    @media (min-width: $screen-md) {
      width: 100%;
      margin-top: 0;
    }

    @media (min-width: $screen-lg) {
      margin-top: 20px;
      margin-bottom: 0;
      width: auto;
      order: 1;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__links-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:first-child {
      margin-bottom: 15px;

      @media (min-width: $screen-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
      }

      @media (min-width: $screen-lg) {
        position: relative;
        margin-bottom: 10px;
      }

      @media (min-width: $screen-xl) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-xl) {
      display: block;
    }
  }
}
