// В этом файле должны быть стили для БЭМ-блока common-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.common-list {

  $block-name:                &; // #{$block-name}__element

  &__list {
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    min-height: 80px;
    margin-bottom: 12px;
    padding-left: 40px + 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;

    @media (min-width: $screen-md) {
      padding-left: 60px + 30px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 212px + 96px;
    }

    &:last-child {
      margin-bottom: 0;
      min-height: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.7em;
      width: 40px;
      height: 1px;
      background-color: #fff;

      @media (min-width: $screen-md) {
        width: 60px;
      }

      @media (min-width: $screen-lg) {
        width: 212px;
      }
    }

    span {
      display: block;

      @media (min-width: $screen-lg) {
        width: 280px;
      }
    }
  }

  &--add-serv {
    margin-bottom: 60px;
  }
}
