// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-radius: 0;
  // border: 1px solid $gray-lighter;
  border: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: $font-family--monospace;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: currentColor;
  // color: $text-color;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
  box-shadow: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: currentColorr;
    //background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    //@include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--common {
    font-size: 13px;
      padding: 9px 0 8px;
      font-weight: 700;
      border-bottom: 2px solid currentColor;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $link-color--hover;
      }
  }

  &--accent {
    padding: 18px 24px;
    color: #000000;
    font-family: $font-family--monospace;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #000000;
      background-color: $green;
    }
  }

  &--arrow-right {
    padding-bottom: 0;
    padding-top: 0;
    &::after {
      @include sprite($arrow-long-white);
      content: '';
      display: block;
    }

    &:hover {
      &::after {
        @include sprite($arrow-long-hover);
      }
    }
  }

  &--arrow-left {
    padding-bottom: 0;
    padding-top: 0;
    &::after {
      @include sprite($arrow-long-white);
      content: '';
      display: block;
      transform: rotate(180deg);
    }

    &:hover {
      &::after {
        @include sprite($arrow-long-hover);
      }
    }
  }

  &--play {
    position: relative;
    padding: 0;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;

    &:hover {
      border-color: $green;

      &::after {
        @include sprite($pause-hover);
      }
    }

    &::after {
      content: '';
      position: absolute;
      @include sprite($pause);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.paused {
      &::after {
        @include sprite($play);
      }

      &:hover {
        &::after {
          @include sprite($play-hover);
        }
      }
    }
  }

  &--tour {
    margin-right: 30px;
    font-family: $font-family--monospace;
    font-size: 13px;
  }

  &--submit {
    padding: 18px 23px;
    color: #000;
    font-family: $font-family--monospace;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #fff;

    &:hover {
      background-color: $green;
    }
  }

  &--modal {
    color: #ffffff;
    background-color: #0e130b;

    &:hover {
      background-color: #0e130b;
    }
  }


  &--close {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--news-show-more {
    border-bottom: none;
    position: relative;
    overflow: visible;
    padding-bottom: 110px;

    &::after {
      content: '';
      position: absolute;
      @include sprite($arrow-down);
      left: 50%;
      top: 3em;
      transform: translateX(-50%);
    }

    &:hover {

      &::after {
        @include sprite($arrow-down-hover);
      }
    }

  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
