// В этом файле должны быть стили для БЭМ-блока caption, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.caption-large {

  $block-name:                &; // #{$block-name}__element

    width: 100%;
    font-family: $font-family--monospace;
    font-size: 314px;
    font-weight: 700;
    text-align: center;
    height: 1em;
    overflow: hidden;
    font-size: 80px;

    @media (min-width: $screen-md) {
      font-size: 190px;
    }

    @media (min-width: $screen-lg) {
      font-size: 250px;
    }

    @media (min-width: $screen-xl) {
      font-size: 314px;
    }

  &__inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__text {
    white-space: nowrap;
    line-height: 1;
  }

  &--off-top {
  }

}
