// В этом файле должны быть стили для БЭМ-блока caption-medium, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.caption-medium {

  $block-name:                &; // #{$block-name}__element

  font-family: $font-family--monospace;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-transform: lowercase;

  @media (min-width: $screen-md) {
    font-size: 120px;
  }

  @media (min-width: $screen-lg) {
    font-size: 184px;
  }

  span {
    display: inline-block;
    line-height: 0.9;
    border-bottom: 2px solid currentColor;
  }
}
