// В этом файле должны быть стили для БЭМ-блока article, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.article {

  $block-name:                &; // #{$block-name}__element-

  &__header {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }
  }

  &__date {
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
    font-family: $font-family--monospace;
    white-space: nowrap;
  }

  &__day {
    margin-right: 12px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;

    @media (min-width: $screen-lg) {
      font-size: 80px;
    }
  }

  &__month {
    font-size: 18px;
    font-weight: 700;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

    @media (min-width: $screen-lg) {
      margin-left: 100px;
      margin-right: 80px;
      margin-bottom: 0;
      height: 120px;
      font-size: 36px;
    }

    @media (min-width: $screen-xl) {
      margin-left: 160px;
      margin-right: 190px;
      margin-top: 38px;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    opacity: 0.48;
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
    }
  }

  &__text {
    flex-grow: 1;
    font-size: 13px;

    @media (min-width: $screen-lg) {
      padding-right: 40px;
    }

    &--col-2 {

      @media (min-width: $screen-lg) {
        width: get-width(1,2,lg) - $screen-padding-lg;
      }

      @media (min-width: $screen-xl) {
        width: get-width(1,2,xl) - $screen-padding-xl;
      }
    }
  }

  &__lead {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.67;
    margin-bottom: 2em;
  }

  &__aside {
    flex-shrink: 0;

    @media (min-width: $screen-md) {
      width: get-width(3,1,md) - $screen-padding-md;
    }

    @media (min-width: $screen-lg) {
      width: get-width(3,1,lg) - $screen-padding-xl;
    }

    @media (min-width: $screen-xl) {
      width: get-width(3,1,xl) - $screen-padding-xl;
    }
  }
}
