// В этом файле должны быть стили для БЭМ-блока pass, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pass {

  $block-name:                &; // #{$block-name}__element

  &__top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 105px;

    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 15px;

    @media (min-width: $screen-md) {
      flex-grow: 0;
      margin-right: 0;
      padding-right: 40px;
    }

    @media (min-width: $screen-lg) {
      padding-right: 80px;
    }

    #{$block-name}__period,
    #{$block-name}__option-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @media (min-width: $screen-md) {
        width: 100px;
      }
    }

    &--top {
      //flex-wrap: wrap;
      align-items: flex-end;

      @media (min-width: $screen-md) {
        flex-wrap: nowrap;
      }
    }

    &--item {
      align-items: center;
    }
  }

  &__right {

    @media (min-width: $screen-md) {
      padding-left: 45px;
    }

    #{$block-name}__period,
    #{$block-name}__option-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @media (min-width: $screen-md) {
        width: 145px;
      }
    }
  }

  &__schedule {

    @media (min-width: $screen-md) {
      flex-basis: 100%;
    }

    .schedule__inner {
      flex-wrap: wrap;

      @media (min-width: $screen-md) {
        flex-wrap: nowrap;
      }
    }

    .schedule__col--workdays {
      margin-right: 0;
      flex-basis: 100%;
      margin-bottom: 10px;

      @media (min-width: $screen-md) {
        margin-right: 38px;
        flex-basis: auto;
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-md) {
      flex-basis: auto;
      width: get-width(1,1,md) - $screen-padding-md;
    }
    @media (min-width: $screen-xl) {
      width: get-width(1,1,xl) - $screen-padding-xl;
    }
  }

  &__period {
    display: flex;
    flex-direction: column;
    font-family: $font-family--monospace;
    font-size: 16px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      flex-direction: row;
      align-items: baseline;
      font-size: 21.5px;
    }

    &--month {
        //margin-left: auto;
      margin-right: 10px;

      @media (min-width: $screen-md) {
        margin-right: 0;
        padding-right: 40px;
      }

      @media (min-width: $screen-lg) {
        padding-right: 80px;
      }

      @media (min-width: $screen-xl) {
      }

      #{$block-name}__period-num {

        @media (min-width: $screen-md) {
          margin-left: auto;
        }
      }
    }

    &--year {

      @media (min-width: $screen-md) {
        padding-left: 45px;
      }

      @media (min-width: $screen-xl) {
      }
    }

  }

  &__period-num {
    font-size: 30px;
    line-height: 1;

    @media (min-width: $screen-md) {
      font-size: 51px;
    }
  }

  &__content {
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    margin-bottom: 57px;
    margin-right: 50px;

    @media (min-width: $screen-md) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--cardio {
      #{$block-name}__item-icon {
        &::before {
          @include sprite($cardio-white);
        }
      }
    }

    &--combat {
      #{$block-name}__item-icon {
        &::before {
          @include sprite($combat-white);
        }
      }
    }

    &--gym {
      #{$block-name}__item-icon {
        &::before {
          @include sprite($gym-white);
        }
      }
    }

    &--group {
      #{$block-name}__item-icon {
        &::before {
          @include sprite($group-white);
        }
      }
    }

    &--fitness {
      #{$block-name}__item-icon {
        &::before {
          @include sprite($fitness-white);
        }
      }
    }

    &--sauna {
      #{$block-name}__item-icon {
        &::before {
          @include sprite($sauna-white);
        }
      }
    }
  }

  &__item-icon {
    display: none;
    justify-content: center;
    width: 62px;
    margin-right: 18px;

    @media (min-width: $screen-md) {
      display: flex;
    }

    &::before {
      content: '';
      display: inline-block;
    }
  }

  &__item-name {
    display: flex;
    align-items: center;
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;

    @media (min-width: $screen-md) {
      width: 515px;
    }

    &::after {
      content: '';
      display: none;
      margin-left: auto;
      height: 1px;
      background-color: #fff;

      @media (min-width: $screen-md) {
        display: inline-block;
        width: 90px;
        margin-right: 40px;
      }

      @media (min-width: $screen-xl) {
        width: 244px;
        margin-right: 0;
      }
    }
  }

  &__option {
    position: relative;
    width: 38px;
    height: 38px;

    @media (min-width: $screen-md) {
      width: 58px;
      height: 58px;
    }

    &--yes {
      border: 1px solid #fff;
      border-radius: 50%;

      &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: 10px;
        width: 22px;
        height: 12px;
        border-left: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        transform: rotate(-45deg);
        transition: opacity $transition-time;
        //box-shadow: 1px 2px 0 #fff, inset 0 -2px 0 #fff;

        @media (min-width: $screen-md) {
          top: 18px;
          left: 14px;
        }
      }
    }

    &--no {

      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        background-color: #fff;
      }
    }
  }

}
