// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority




.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 35px;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    @include field-text;

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }



  &--error {

    #{$block-name}__name,
    #{$block-name}__input,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__input {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }

    @mixin subscribe-placholder {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.14);
    }

    @mixin subscribe-placholder-md {
      font-size: 60px;
      margin-bottom: 0;
      letter-spacing: -0.02em;
    }



  &--subscribe {
    width: 100%;
    margin-bottom: 0;

    #{$block-name}__name {
      display: none;
      font-family: $font-family--monospace;
      font-size: 24px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.14);
      text-transform: uppercase;

      &.show {
        display: block;
      }
    }

    #{$block-name}__input {
      font-family: $font-family--monospace;
      width: 100%;
      min-height: 0;
      font-size: 40px;
      line-height: 1.2;
      padding-bottom: 0;
      border: 0;
      text-transform: uppercase;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include subscribe-placholder;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        @include subscribe-placholder;
      }
      &::-ms-input-placeholder { /* IE 10+ */
        @include subscribe-placholder;
      }
      &::-moz-placeholder { /* Firefox 18- */
        @include subscribe-placholder;
      }

      @media (min-width: $screen-md) {

        font-size: 60px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          @include subscribe-placholder-md;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          @include subscribe-placholder-md;
        }
        &::-ms-input-placeholder { /* IE 10+ */
          @include subscribe-placholder-md;
        }
        &::-moz-placeholder { /* Firefox 18- */
          @include subscribe-placholder-md;
        }
      }

        &:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: transparent;
        }
        &:focus::-moz-placeholder { /* Firefox 19+ */
          color: transparent;
        }
        &:focus::-ms-input-placeholder { /* IE 10+ */
          color: transparent;
        }
        &:focus::-moz-placeholder { /* Firefox 18- */
          color: transparent;
        }
    }

  }
}
