//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- script.
    //-   console.log('hyphens');
    //-   var Hyphenopoly = {
    //-       require: {
    //-           "ru": "FORCEHYPHENOPOLY"
    //-       },
    //-       setup: {
    //-           selectors: {
    //-               ".page-title": {}
    //-           }
    //-       }
    //-   };
    //- script(type="text/javascript" src="js/Hyphenopoly_Loader.js")
    script(type="text/javascript" src="js/hypenopolyMediaLoad.js")
    script(type="text/javascript" src="https://vk.com/js/api/openapi.js?116")
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel="preload" href="video/nicefit.mp4" as="video" type="video/mp4")
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js
      script(type="text/javascript" src="https://vk.com/js/api/openapi.js?116")

  body
    noscript У вас отключен JavaScript. Это пугает.
    #fb-root
    script(async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0")

    block vars

    -
      var pageClass= 'page-' + pageName;

    .off-canvas#off-canvas
      aside.off-canvas__aside(role='complementary', aria-label='Меню')
        block off-canvas
      .off-canvas__overlay(data-toggle='off-canvas')

    .page__inner(class= pageClass)
      .page__content
        .page-bg
          .page-bg__inner
            .page-bg__line.page-bg__line--left
            .page-bg__line.page-bg__line--first
            .page-bg__line.page-bg__line--second
            .page-bg__line.page-bg__line--right

        +page-header(pageName)
          .page-header__inner
            .page-header__top
              +logo('/')
                img(src='img/logo.png', alt='Logo', width='216', height='29')
              block nav
              +schedule('top')
              +phone('top')
              +burger('Открыть меню')(class='burger--off-canvas-top' data-toggle="off-canvas")
            block page-header-add
          block page-header-bg

        block content
          p содержимое

      .page__footer-wrapper
        block footer
          //- +page-footer()
            //- p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

    block page-bottom
      script(src='js/bundle.js')
