//- Все примеси в этом файле должны начинаться c имени блока (info)

mixin info(mods)

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' info--' + modsList[i].trim();
      }
    }

  section.info(class=allMods)&attributes(attributes)
    .info__inner
      block


mixin info-main(mods)

  +info(mods)&attributes(attributes)
    .info__figures
      +figures({value: '3', caption: '3 года успешной<br> работы'})(class="info__figure")
      +figures({value: '800', caption: 'Клиентов<br> ежемесячно'})(class="info__figure")
    .info__text
      p.info__lead Nicefitness – это правильный клуб для реализации Ваших планов по улучшению внешности, укреплению здоровья, созданию красивой и стройной фигуры.
      p Добиться максимального расслабления после занятий поможет уникальный термальный комплекс, включающий в себя: паровую баню и традиционный хаммам, снежную комнату, биосауну, соляную баню, финскую сауну, душ впечатлений, дорожку Кнайпа и лаундж-зону с массажными креслами Yamaguchi. Главной особенностью комплекса является необычная соляная баня. Помещение парной расположено в центре комплекса и выполнено в виде большого стеклянного прямоугольника, что создает ощущение невесомости окружающего пространства.
    .info__bg
      img(src="img/man-test.png")
      //- img(src="https://placekitten.com/1010/1513")

mixin info-schedule(mods)

  +info(mods)&attributes(attributes)
    .info__text
      p.info__lead Nicefitness – это правильный клуб для реализации Ваших планов по улучшению внешности, укреплению здоровья, созданию красивой и стройной фигуры.
