// В этом файле должны быть стили для БЭМ-блока info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container;
    display: flex;
    flex-wrap: wrap;
    // background-image: url("../img/man-bg.png");
    // background-repeat: no-repeat;
    // background-position: right 0 top 0;

    @media (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }
  }

  &__bg {
    position: absolute;
    height: 1513px;
    z-index: -1;
    left: 50%;
    margin-left: 180px;
    top: -50px;

    @media (min-width: $screen-md) {
      margin-left: -120px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 90px;
    }

    @media (min-width: $screen-xl) {
      margin-left: 160px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: none;
      object-position: left;
    }
  }

  &__figures {
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 50px;

    @media (min-width: $screen-md) {
      display: flex;
    }

    @media (min-width: $screen-lg) {
      width: auto;
      margin-bottom: 0;
      display: block;
    }

    @media (min-width: $screen-xl) {
      width: get-point(1, xl) - $screen-padding-xl;
    }
  }

  &__figure {
    margin-bottom: 44px;

    @media (min-width: $screen-md) {
      margin-right: 125px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      margin-right: 0;
      margin-bottom: 44px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $screen-xl) {
      width: 566px;
    }


    @at-root &#{$block-name}__lead {
      position: relative;
      width: auto;
      padding-right: 75px;
      margin-bottom: 46px;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.2;
      hyphens: none;

      @media (min-width: $screen-md) {
        font-size: 30px;
      }

      @media (min-width: $screen-lg) {
        // width: auto;
        // padding-right: 176px;
        // line-height: 1.15;
      }

      @media (min-width: $screen-xl) {
        // padding-right: 0;
      }

      &::after {
        content: '';
        position: absolute;
        width: 65px;
        height: 1px;
        background-color: currentColor;
        top: 50%;
        right: 0;

        @media (min-width: $screen-md) {
          width: 191px;
        }

        @media (min-width: $screen-lg) {
          width: 166px;
        }

        @media (min-width: $screen-xl) {
          width: 264px;
          // right: -22px;
          // transform: translateX(100%);
        }
      }
    }
  }

  &__text {
    padding-left: 0;
    flex-basis: 100%;

    @media (min-width: $screen-lg) {
      flex-basis: auto;
    }
  }

  &--main {
    padding-bottom: 63px;

    @media (min-width: $screen-md) {
      padding-bottom: 50px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 75px;
    }

    @media (min-width: $screen-xl) {
      padding-bottom: 60px;
    }

    #{$block-name}__text {
      padding-top: 22px;


      @media (min-width: $screen-lg) {
        padding-left: 49px;
        width: get-width(2,2,lg) - $screen-padding-lg;
      }

      @media (min-width: $screen-xl) {
        width: get-width(2,2,xl) - $screen-padding-xl;
      }
    }

    p {
      @at-root &#{$block-name}__lead {

        @media (min-width: $screen-md) {
          padding-right: get-width(3,1,md) - $screen-padding-md - 2px;
        }

        @media (min-width: $screen-lg) {
          padding-right: 176px;
        }

        @media (min-width: $screen-xl) {
          padding-right: 292px;
        }
      }
    }


  }

  &--schedule {
    margin-top: 80px;
    padding-bottom: 80px;

    @media (min-width: $screen-xl) {
      margin-top: 112px;
      padding-bottom: 140px;
    }

    #{$block-name}__inner {
      flex-wrap: wrap;

      @media (min-width: $screen-lg) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      @media (min-width: $screen-xl) {
      }
    }

    #{$block-name}__text {

      flex-basis: 100%;

      @media (min-width: $screen-lg) {
        flex-basis: auto;
        margin-right: $screen-padding-lg;
        width: get-width(1,2,lg) - $screen-padding-lg*2 - 3px;
      }

      @media (min-width: $screen-xl) {
        margin-right: $screen-padding-xl;
        width: get-width(1,2,xl) - $screen-padding-xl*2;
      }
    }

    p {
      @at-root &#{$block-name}__lead {
        @media (min-width: $screen-md) {
          padding-right: get-width(3,1,md) - $screen-padding-md - 2px;
        }

        @media (min-width: $screen-lg) {
          padding-right: 176px;
        }

        @media (min-width: $screen-xl) {
          padding-right: 292px;
        }
      }
    }
  }


}
