// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 62px;
    position: relative;
    z-index: 10;

    @media (min-width: $screen-md) {
      margin-bottom: 152px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 140px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 145px;
    }
  }
}
