// В этом файле должны быть стили для БЭМ-блока card-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element
  color: #000;
  display: flex;
  // justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
  }

  &__title {
    font-family: $font-family--monospace;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;

    span {
      position: relative;
      padding-right: 20px;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0.4em;
        border-style: solid;
        border-width: 6.5px 0 6.5px 11px;
        border-color: transparent transparent transparent currentColor;
      }
    }

  }

  &__price {
    margin-bottom: 50px;
    color: #ffffff;
    font-family: $font-family--monospace;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__big-figure {
    display: flex;
    font-family: $font-family--monospace;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;

    span {
      font-size: 50px;
    }
  }

  &--large {
    width: 272px;
    height: 248px;
    padding-top: 42px;
    padding-bottom: 24px;
    padding-left: 24px;
    box-sizing: border-box;

    @media (min-width: $screen-md) {
      width: 256px;
    }
  }

  &--main-slider {
    background-color: $green;
  }

  &--highlight,
  &--schedule {
    background-color: $green;
  }

  &--tour {
    position: absolute;
    top: 333px;
    left: 0;
    padding-top: 18px;
    padding-bottom: 31px;
    background-color: $white;
  }


}
