// В этом файле должны быть стили для БЭМ-блока card-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element
  color: #000;
  display: flex;
  // justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
  }

  &__title {
    font-family: $font-family--monospace;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;

    span {
      position: relative;
      padding-right: 20px;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0.4em;
        border-style: solid;
        border-width: 6.5px 0 6.5px 11px;
        border-color: transparent transparent transparent currentColor;
      }
    }

  }

  &__price {
    margin-bottom: 50px;
    color: #ffffff;
    font-family: $font-family--monospace;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__big-figure {
    display: flex;
    font-family: $font-family--monospace;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;

    span {
      font-size: 50px;
    }
  }

  &--large {
    width: 272px;
    height: 248px;
    padding-top: 42px;
    padding-bottom: 24px;
    padding-left: 24px;
    box-sizing: border-box;

    @media (min-width: $screen-md) {
      width: 256px;
    }
  }

  &--main-slider {
    background-color: $green;

    #{$block-name}__link {
      &:hover {
        color: $white;
      }
    }
  }

  &--schedule {
    background-color: $green;
  }

  &--highlight {
    background-color: $green;

    #{$block-name}__link {
      &:hover {
        color: $white;
      }
    }
  }

  &--tour {
    position: absolute;
    top: 333px;
    left: 0;
    padding-top: 18px;
    padding-bottom: 31px;
    background-color: $white;
  }

  &--photo-tour {
    background-color: $white;
  }

  &--xl {
    position: relative;
    width: 318px;
    height: 176px;
    padding-top: 0;
    padding-left: 0;
    // padding-top: 60px;
    // padding-left: 43px;
    margin-bottom: 88px;
    background: radial-gradient(circle at bottom right, rgba(255,255,255,0.57), transparent),linear-gradient($green);
    box-shadow: 0px 1px 98px 0 rgba(0, 0, 0, 0.4);

    @media (min-width: $screen-lg) {
      // width: 765px;
      // height: 512px;
      width: 547px;
      height: 303px;
      // padding-top: 90px;
      // padding-left: 73px;
      margin-left: auto;
    }

    @media (min-width: $screen-xl) {
      margin-left: get-width(1,1,xl) - $screen-padding-xl + 48px;
    }

    &::before {

      @media (min-width: $screen-lg) {
        content: '';
        position: absolute;
        width: 200px;
        height: 258px;
        left: -46px;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0px 1px 98px 0 rgba(0, 0, 0, 0.4);
        background-color: #67cb33;
        z-index: -1;
      }
    }

    &::after {

      @media (min-width: $screen-lg) {
        content: '';
        position: absolute;
        left: -144px;
        top: 17%;
        width: 550px;
        height: 306px;
        opacity: 0.48;
        background-color: #67cb33;
        z-index: -2;
      }
    }

    .card__inner {
      width: 100%;
      background-image: url('../img/card.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--contacts {
      padding-top: 24px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 60px;
      background-color: #fff;

    @media (min-width: $screen-md) {
      position: absolute;
      left: 40px;
      top: 40px;
      z-index: 15;
      margin: 0;
    }

    @media (min-width: $screen-lg) {
    }

    @media (min-width: $screen-xl) {
      left: 50%;
      top: 272px;
      transform: translateX(-50%);
      margin-left: -470px;
    }
  }


}
