//- Все примеси в этом файле должны начинаться c имени блока (card)

mixin card(mods,props)

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card--' + modsList[i].trim();
      }
    }

    if (typeof props == 'undefined') {
      props = {}
    }


  .card(class=allMods)&attributes(attributes)
    .card__inner
      if ( !(typeof props.price == 'undefined') )
        .card__price !{props.price}
      a(href='/').card__link
        if ( !(typeof props.text == 'undefined') )
          .card__text !{props.text}
        .card__title
          span nicefitness
      block

mixin card-tour(mods,props)
  -
    if (typeof props == 'undefined') {
      props = {}
    }
    if (typeof props.text == 'undefined') {
      props.text = 'Клубная карта'
    }
    console.log('card-tour');
    console.log(props);

  +card(mods,props)
    .card__bottom
      +btn('Начать','common,tour')(href="/")
      .card__big-figure 360
        span &ocy;


mixin card-photo-tour(mods, props)
  -
    if (typeof props == 'undefined') {
      props = {}
    }
    if (typeof props.text == 'undefined') {
      props.text = 'Клубная карта'
    }

  +card(mods,props)
    .card__bottom
      +btn('Начать','common,photo-tour')(href="/")
      .icon.icon--photo-tour

mixin card-contacts(mods,props)
  +card(mods,props)
    +schedule('contacts')
    .card__bottom
      +btn('Показать на карте','common,map')(href="/")
