//- Все примеси в этом файле должны начинаться c имени блока (card)

mixin card(mods,props)

  -
   var allMods = '';
   if(typeof(mods) !== 'undefined' && mods) {
     var modsList = mods.split(',');
     for (var i = 0; i < modsList.length; i++) {
       allMods = allMods + ' card--' + modsList[i].trim();
     }
   }

  .card(class=allMods)&attributes(attributes)
    .card__inner
      if ( !(typeof props == 'undefined') && (props) )
        .card__price !{props.price}
      a(href='/').card__link
        .card__text Клубная карта
        .card__title
          span nicefitness

