//- Все примеси в этом файле должны начинаться c имени блока (partners)

mixin partners(mods)

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' partners--' + modsList[i].trim();
      }
    }

  .partners(class=allMods)&attributes(attributes)
    .partners__inner
      ul.partners__list
        block


mixin partners-item(props,mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' partners__item--' + modsList[i].trim();
      }
    }

  li.partners__item(class=allMods)&attributes(attributes)
    .partners__item-inner
      .partners__name !{props.name}
      img.partners__logo(src= props.src)

