// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 270px;
    padding: 0;
    list-style: none;

    &:after {
      content: '';
      display: none;
      flex-grow: 1;
      height: 1px;

      @media (min-width: $screen-md) {
        display: block;
      }
    }

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;

    @media (min-width: $screen-md) {
      margin: 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &--active,
    &:hover {

      @media (min-width: $screen-md) {
      }

      #{$block-name}__link {
        position: relative;
        font-size: 24px;
        padding-right: 80px + 32px;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 1em;
          width: 80px;
          height: 1px;
          background-color: currentColor;
        }
      }
    }
  }

  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 2;

    &:hover,
    &:focus {
      color: currentColor;
    }

    &:active {
      color: $link-color--hover;
    }
  }

  &__content-wrapper {
    display: block;

    @media (min-width: $screen-md) {
      border-top: none;
    }
  }

  &__content-item {

    .js & {
      display: none;
    }

    & > *:last-child { // stylelint-disable-line  selector-combinator-blacklist
      margin-bottom: 0;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }
}
