extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'about';


block off-canvas
  +off-top()

block nav
  +main-nav-top('10')
block page-header-add
  .page-header__content.page-header__content--inner-page
    .page-header__content-row.page-header__content-row--breadcrumbs
      +breadcrumbs()
        +breadcrumbs-item('Главная ', '/home')
        +breadcrumbs-item('О клубе')
    .page-header__content-row.page-header__content-row--title
      h1.page-title.page-title--services О клубе

block content
    +caption-large('nicefitness','about')(class="page__section page__section--caption")
    .page__section.page__section--about-info-top
      .page__section-inner.page__section-row
        +info-about-top('about-top,card,short')
        +card('large,highlight',{price: '2 000 ₽',text: 'Клубная карта'})
    section.page__section.page__section--about-expand
      .page__section-inner
        +expand('about')
          +expand-item('team',{title: 'Команда'})
            ul.expand__content-list
              li.expand__content-item
                +persona-card('',{src: 'img/content/coach-01.jpg'})
                  +persona-card-desc('',{name: 'Ковалев Михаил', position: 'Персональный тренер тренажерного зала.'})
                    p Дипломированный персональный тренер лицея «Учёный Фитнес», (Диплом с отличием);
                    p Сертифицированный инструктор групповых программ Ассоциации профессионалов фитнеса (FPA).
                  +persona-card-skills('',{title: 'Прошел курсы'})
                    +persona-card-skills-item({name: '«Особенности тренировки женщин» (Мирошников А.Б);'})
                    +persona-card-skills-item({name: '«Спортивная нутрициология», лектор: к.б.н. Александр Мирошников;'})
                    +persona-card-skills-item({name: '«Основы прикладной кинезиологии»;'})
                    +persona-card-skills-item({name: '«Особенности персональной тренировки»;'})
                    +persona-card-skills-item({name: '«Реабилитационный фитнес при грыже межпозвоночного диска»;'})
                    +persona-card-skills-item({name: '«Модели биоэнергетических процессов при мышечной деятельности»;'})
                    +persona-card-skills-item({name: '«Особенности тренировок беременных».'})
                    +btn('Показать больше','common,show-more')(class="persona-card__show-more")
                    +btn('Показать меньше','common,show-less')(class="persona-card__show-less")
              li.expand__content-item
                +persona-card('',{src: 'img/content/coach-02.jpg'})
                  +persona-card-desc('',{name: 'Денисенко Юлия', position: 'Персональный тренер.'})
                    p Дипломированный персональный тренер по фитнесу и бодибилдингу Ассоциации профессионалов фитнеса (FPA)
                  +persona-card-skills('',{title: 'Прошла курсы'})
                    +persona-card-skills-item({name: '«Реабилитационный фитнес при грыже межпозвоночного диска»;'})
                    +persona-card-skills-item({name: '«Модели биоэнергетических процессов при мышечной деятельности»;'})
                    +persona-card-skills-item({name: '«Особенности тренировок беременных».'})
          +expand-item('partners',{title: 'Партнеры'})
            +partners('about')
             +partners-item({name: 'Проектирование и строительство', src: 'img/content/archi-comm.png'})
             +partners-item({name: 'СПК Раменки', src: 'img/content/ramenki.png'})
             +partners-item({name: 'uchi-fitness.ru', src: 'img/content/ucheniy.png'})
          +expand-item('',{title: 'Вакансии'})
            +vacs('about')
              +vacs-item('',{name: 'ИНСТРУКТОР ГРУППОВЫХ ПРОГРАММ И СТУДИИ ЕДИНОБОРСТВ'})
                +vacs-sublist('duty',{name: 'Должностные обязанности'})
                  +vacs-subitem({name: 'проведение персональных тренировок'})
                  +vacs-subitem({name: 'проведение групповых программ по танцевальным направлениям'})
                  +vacs-subitem({name: 'проведение групповых программ по восточным единоборствам'})
                  +vacs-subitem({name: 'проведение групповых программ по Yoga'})
                  +vacs-subitem({name: 'проведение групповых программ по Pilates'})
                  +vacs-subitem({name: 'инструктор -" универсал"'})
                  +btn('Показать больше','common,show-more')(class="vacs__sub-show-more")
                  +btn('Показать меньше','common,show-less')(class="vacs__sub-show-less")
                +vacs-sublist('spec',{name: 'Требования к кандидату'})
                  +vacs-subitem({name: 'высшее физкультурное. педагогическое или медицинское образование'})
                  +vacs-subitem({name: 'сертификаты, курсы или дипломы, подтверждающие квалификацию инструктора'})
                  +vacs-subitem({name: 'спортивный или соревновательный опыт'})
                  +vacs-subitem({name: 'опыт работы в фитнес индустрии - более года Возраст - от 20 до 45 лет Пол не имеет значения'})
              +vacs-item('',{name: 'ИНСТРУКТОР ТРЕНАЖЕРНОГО ЗАЛА'})
                +vacs-sublist('duty',{name: 'Должностные обязанности'})
                  +vacs-subitem({name: 'проведение дежурства в тренажерном зале'})
                  +vacs-subitem({name: 'проведение персональных тренировок'})
                  +vacs-subitem({name: 'проведение фитнес-тестирования'})
                  +vacs-subitem({name: 'проведение групповых программ по Yoga'})
                  +vacs-subitem({name: 'проведение групповых программ по Pilates'})
                  +btn('Показать больше','common,show-more')(class="vacs__sub-show-more")
                  +btn('Показать меньше','common,show-less')(class="vacs__sub-show-less")
                +vacs-sublist('spec',{name: 'Требования к кандидату'})
                  +vacs-subitem({name: 'высшее физкультурное. педагогическое или медицинское образование'})
                  +vacs-subitem({name: 'сертификаты, курсы или дипломы, подтверждающие квалификацию инструктора тренажерного зала'})
                  +vacs-subitem({name: 'спортивный соревновательный опыт'})
                  +vacs-subitem({name: 'опыт работы в фитнес индустрии - более года'})

    section.page__section.page__section--about-info
      .page__section-inner.page__section-row
        +info-about('narrow,about')(class="col-left-1")
        .page__section-col.page__section-col--photo-tour.col-middle-1
          +card-photo-tour('large,photo-tour,about',{text: 'Фототур'})
        +info-figures('about-figures')
      .page__section-img.page__section-img--left
        img(src='img/about-left.jpg')
      .page__section-img.page__section-img--middle
        img(src='img/about-middle.jpg')
      .page__section-img.page__section-img--right
        img(src='img/about-right.jpg')

    +social-section-narrow('right, about-social')(class="page__section page__section--about-social")

    section.page__section.page__section--about-features
      .page__section-inner
          h2.section-title Наши преимущества
          +features('cols-2,about')
            +features-item()
              p Приятная атмосфера, частью которой, Вы можете стать уже сегодня
            +features-item()
              p Оптимальное соотношение цены и качества
            +features-item()
              p Большой выбор абонементов и тренировочных программ
            +features-item()
              p Высокий профессионализм тренеров
            +features-item()
              p Удобное расположение
    section.page__section.page__section--sign-up.page__section--sign-up-about
      .page__section-inner
        +sign-up()
    +news('about')(class="page__section page__section--news")
    +mobile('short')(class="page__section page__section--mobile")


block footer
  +page-footer()
  +modal-test-drive("test-drive","Закажите бесплатно 7&nbsp;дней фитнес тест-драйва")
  +form-messages()

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
