extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageClass = 'page-main';


block off-canvas
  +off-top()

block nav
  +main-nav-top('10')
block page-header-add
  .page-header__bottom.page-header__bottom--main
    .page-header__bottom-inner
      h1.page-title.page-title--main Правильный фитнес клуб в Чертаново
      .page-header__links
        .page-header__links-row
          +btn('Получить 7 дней тест драйва','accent')(href="/")
          +btn('','play')(class="page-header__btn-play paused")
        .page-header__links-row
          +btn('Как получить клубную карту?','common')(href="/" class="page-header__card-link")

block content
    +main-slider()
    +services(class="page__section page__section--services")
    +info(class="page__section page__section--info")
    +caption-large('nicefitness')(class="page__section page__section--caption")
    +social-section(class="page__section page__section--social")
    +mobile(class="page__section page__section--mobile")
    +tour(class="page__section page__section--tour")
      +card-tour('large,tour', {text: 'Виртуальный тур'})
    +news(class="page__section page__section--news")

block footer
  +page-footer()

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
