extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'main';


block off-canvas
  +off-top()

block nav
  +main-nav-top('10')
block page-header-add
  .page-header__bottom.page-header__bottom--main
    .page-header__bottom-inner
      h1.page-title.page-title--main Правильный фитнес клуб в Чертаново
      .page-header__links
        //- .page-header__links-row
        +btn('Получить 7 дней тест драйва','accent')(data-toggle="modal" data-target="#test-drive")
        +btn('','play')(class="page-header__btn-play paused")
        //- .page-header__links-row
        +btn('Как получить клубную карту?','common')(href="/" class="page-header__card-link")
        +btn('','')(class="btn-sound")
block page-header-bg
  .page-header__bg
    //- <iframe  id="page-header-video" class="video" width="100%" height="auto" src="https://www.youtube.com/embed/bp76QUMUVVk?enablejsapi=1&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    video#page-header-video.page-header-video(width="100%" poster="http://placekitten.com/1200/600" autoplay muted preload)
      source(src="video/nicefit.mp4" type="video/mp4")
  script
    include js/before.js
  script
    include js/inline.js
  script
    include js/after.js

block content
    .page-inner-content
      +main-slider()
      +services(class="page__section page__section--services")
      section.page__section.page__section--info
        .page__section-inner
          +info-main('main')
      +caption-large('nicefitness')(class="page__section page__section--caption")
      +social-section(class="page__section page__section--social")
      +mobile(class="page__section page__section--mobile")
      +tour(class="page__section page__section--tour")
        +card-tour('large,tour', {text: 'Виртуальный тур'})
      +news(class="page__section page__section--news")

block footer
  +page-footer()
  +modal-test-drive("test-drive","Закажите бесплатно 7&nbsp;дней фитнес тест-драйва")
  +form-messages()

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
