extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'contacts';


block off-canvas
  +off-top()

block nav
  +main-nav-top('10')
block page-header-add
  .page-header__content.page-header__content--inner-page
    .page-header__content-row.page-header__content-row--breadcrumbs
      +breadcrumbs()
        +breadcrumbs-item('Главная ', '/home')
        +breadcrumbs-item('Новости и акции')
    .page-header__content-row.page-header__content-row--title
      h1.page-title.page-title--contacts Клубные новости и акции

block content
    +caption-large('nicefitness','news')(class="page__section page__section--caption")
    .page__section.page__section--news
      .page__section-inner
        +tabs([
          {
            'id': 'news',
            'text': 'Новости клуба',
            'isActive': true,
          },
          {
            'id': 'actions',
            'text': 'Акции',
          },
          {
            'id': 'archive',
            'text': 'Архив',
          },
          ], 'news')
          +tabs-item('news', true, 'some')
            +news-list-3-cols('news-social,news-list')
              li.news__item
                +news-item-img({day: '26', month: 'октября',text: 'Установили новый, суперкрутой и эффективный тренажёр Foreman FS-404 жим от плеч'})
              li.news__item
                +news-item-img({day: '20', month: 'октября',text: 'Объявляется набор в группу триатлон для начинающих и продолжающих после летнего перерыва!'})
              li.news__item
                +news-item-img({day: '17', month: 'октября',text: 'Презентация новых площадей в фитнес-бутике на Земляном валу'})
              li.news__item
                +news-item-img({day: '09', month: 'октября',text: 'Соревнования за звание самого подготовленного фитнес-атлета клуба Nicefitness'})
              li.news__item
                +news-item-img({day: '22', month: 'сентября',text: 'Установили новый, суперкрутой и эффективный тренажёр Foreman FS-404 жим от плеч'})
              li.news__item
                +news-item-img({day: '21', month: 'сентября',text: 'Объявляется набор в группу триатлон для начинающих и продолжающих после летнего перерыва!'})
              li.news__item
                +news-item-img({day: '20', month: 'сентября',text: 'Установили новый, суперкрутой и эффективный тренажёр Foreman FS-404 жим от плеч'})
              li.news__item
                +news-item-img({day: '18', month: 'сентября',text: 'Объявляется набор в группу триатлон для начинающих и продолжающих после летнего перерыва!'})
              li.news__item
                +news-item-img({day: '11', month: 'сентября',text: 'Презентация новых площадей в фитнес-бутике на Земляном валу'})
            +social-section-narrow('right, news')(class="page__section page__section--news-social")
            +news-list-2-cols('news-social,news-list')
              li.news__item
                +news-item-img({day: '07', month: 'сентября',text: 'Соревнования за звание самого подготовленного фитнес-атлета клуба Nicefitness'})
              li.news__item
                +news-item-img({day: '03', month: 'сентября',text: 'Установили новый, суперкрутой и эффективный тренажёр Foreman FS-404 жим от плеч'})
              li.news__item
                +news-item-img({day: '26', month: 'октября',text: 'Установили новый, суперкрутой и эффективный тренажёр Foreman FS-404 жим от плеч'})
              li.news__item
                +news-item-img({day: '21', month: 'октября',text: 'Объявляется набор в группу триатлон для начинающих и продолжающих после летнего перерыва!'})
            .news__list-bottom
              +pagination('news')
                +pagination-item('1', '/', true)
                +pagination-item('2', '/')
                +pagination-item('3', '/')
                +pagination-item('4', '/')
                +pagination-item('5', '/')
              +btn('Показать еще','common, news-show-more')(class="news__show-more")
          +tabs-item('actions')
            p actions
          +tabs-item('archive')
            p archive

    .page__section.page__section--sign-up.page__section--sign-up-news
      .page__section-inner
        +sign-up()
    +mobile('short')(class="page__section page__section--mobile")


block footer
  +page-footer()
  +modal-test-drive("test-drive","Закажите бесплатно 7&nbsp;дней фитнес тест-драйва")
  +form-messages()

//- block footer
//-   p footer

block append page-bottom
  script(src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A18eb1a9e672202a960b32be8cd2cc0e8268e94c919b969a21c5b2713d9edc969&amp;width=100%25&amp;height=800&amp;lang=ru_RU&amp;scroll=true&amp;id=map" type="text/javascript" charset="utf-8" async)
