extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'schedule';


block off-canvas
  +off-top()

block nav
  +main-nav-top('10')
block page-header-add
  .page-header__content.page-header__content--schedule
    .page-header__content-row.page-header__content-row--breadcrumbs
      +breadcrumbs()
        +breadcrumbs-item('Главная ', '/home')
        +breadcrumbs-item('Расписание')
    .page-header__content-row.page-header__content-row--title
      h1.page-title.page-title--schedule Расписание

block content
    +caption-large('nicefitness','schedule')(class="page__section page__section--caption")
    +info-schedule('schedule')(class="page__section page__section--info")
    +news(class="page__section page__section--news")
    +mobile(class="page__section page__section--mobile")

block footer
  +page-footer()

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
