//- Все примеси в этом файле должны начинаться c имени блока (form-messages)

mixin form-messages()

  +modal('form-msg-success','','form-msg,form-msg-success')
    +form-msg({
      title: 'Сообщение отправлено!',
      msg: 'Наш менеджер свяжется с вами в ближайшее время.',
      mods: 'success'
    })
  +modal('form-msg-error','','form-msg,form-msg-error')
    +form-msg({
      title: 'Упсс... ошибка',
      msg: 'Наш менеджер свяжется с вами в ближайшее время.',
      mods: 'error'
    })
  +modal('form-msg-wait','','form-msg,form-msg-wait')
    +form-msg({
      title: 'Минутку...',
      msg: 'Наш менеджер свяжется с вами в ближайшее время.',
      mods: 'wait'
    })
