//- Все примеси в этом файле должны начинаться c имени блока (form-msg)

mixin form-msg(props)

  -
    if(typeof(props) === 'undefined') {
      var props = {};
    }
    var allMods = '';
    if(typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form-msg--' + modsList[i].trim();
      }
    }

  .form-msg(class=allMods)&attributes(attributes)
    .form-msg__title !{props.title}
    .form-msg__text !{props.msg}
