// В этом файле должны быть стили для БЭМ-блока off-canvas, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$off-canvas-height-xl:            768px; // высота этого блока
$off-canvas-height-lg:            1024px; // высота этого блока
// $off-canvas-height-md:            1024px; // высота этого блока
// $off-canvas-height-sm:            712px;


.off-canvas {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  overflow: hidden;

  .js &--open {

    #{$block-name}__overlay {
      position: fixed;
      z-index: 1;
      opacity: 1;
      visibility: visible;
      transition: opacity $transition-time ease;
    }

    #{$block-name}__close {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }

    #{$block-name}__aside {
      transform: translateY(0);
    }

    // #{$block-name}__page-content {
    //   transform: translateY($off-canvas-height-sm);

    //   @media (min-width: $screen-md) {
    //     transform: translateY($off-canvas-height-md);
    //   }

    //   @media (min-width: $screen-lg) {
    //     transform: translateY($off-canvas-height-lg);
    //   }

    //   @media (min-width: $screen-xl) {
    //     transform: translateY($off-canvas-height-xl);
    //   }
    // }
  }

  &__aside {
    // max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    backface-visibility: hidden;
    background-color: $green;
    color: #fff;
    transition: transform $transition-time ease;

    .js & {
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
      max-height: none;

      @media (min-width: $screen-md) {
        // height: $off-canvas-height-md;
        // transform: translateY(($off-canvas-height-md * -1));
      }

      @media (min-width: $screen-lg) {
        max-height: $off-canvas-height-lg;
        // transform: translateY(($off-canvas-height-lg * -1));
      }

      @media (min-width: $screen-xl) {
        max-height: $off-canvas-height-xl;
        // transform: translateY(($off-canvas-height-xl * -1));
      }
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-item {

    &--separator {
      padding-bottom: 10px;
      border-bottom: 1px solid $gray;
      margin-bottom: 10px;
    }
  }

  &__menu-link {
    display: block;
    padding: 8px 14px;
    line-height: 1.2;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
      background-color: $gray-darker;
    }
  }

  &__page-content {
    backface-visibility: hidden;
    transition: transform $transition-time ease;
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
  }
}


.off-canvas-wrapper {
  overflow: hidden;
}
