// В этом файле должны быть стили для БЭМ-блока social-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social-section {

  $block-name:                &; // #{$block-name}__element

  &__header {
    width: 100%;
    position: relative;
    padding-bottom: 157px;
    margin-bottom: 65px;

    @media (min-width: $screen-md) {
      width: get-width(1,2,md) - $screen-padding-md;
      padding-bottom: 177px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 190px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      padding-bottom: 95px;
    }

    &::after {
      bottom: 0;
      right: 25px;

      @media (min-width: $screen-md) {
        right: auto;
        left: 252px;
        transform: translateX(-100%);
      }

      @media (min-width: $screen-xl) {
        right: 0;
        left: auto;
        transform: none;
      }
    }

    @media (min-width: $screen-lg) {
      width: 450px;
    }

    br {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__list {

    @media (min-width: $screen-md) {
      height: 714px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-top: -186px;
    }

    @media (min-width: $screen-lg) {
      height: auto;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      margin-right: 0;
      margin-top: -239px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 30px;
      align-items: flex-start;
    }
  }

  &__item {
    flex-shrink: 0;
    // margin-bottom: 40px;

    &:last-child {
    }

    &--fb {
      margin-top: 30px;
      margin-bottom: 40px;

      @media (min-width: $screen-md) {
        width: 256px;
        flex-basis: 100%;
        margin-top: 180px;
        margin-right: 40px;
        bottom: 0;
      }

      @media (min-width: $screen-lg) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        margin-top: 30px;
        flex-basis: auto;
      }

      @media (min-width: $screen-xl) {
        width: 450px;
        margin-right: 0;
      }
    }

    &--vk {
      margin-bottom: 40px;

      @media (min-width: $screen-lg) {
        margin-bottom: 64px;
        margin-right: auto;
      }

      @media (min-width: $screen-xl) {
        width: 360px;
        margin-top: -155px;
        margin-left: 45px;
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    &--insta {
      height: 350px;
      width: 252px;
      overflow: hidden;

      iframe .wrapper {
        margin: 0;
      }

      #{$block-name}__item-inner {
        display: flex;
        width: 252px;
      }

      @media (min-width: $screen-lg) {
        margin-bottom: 196px;
      }

      @media (min-width: $screen-xl) {
        margin-left: 22px;
        margin-top: -270px;
        margin-bottom: 0;
      }
    }
  }

  &__item-inner {
    font-size: 0;
    line-height: 0;
  }

  &--full {

    #{$block-name}__inner {
      @include container;
    }

  }

  &--narrow {

    .icon-quotes {
      padding-bottom: 121px;

      @media (min-width: $screen-md) {
        width: 256px;
        text-align: right;
      }

      @media (min-width: $screen-lg) {
        width: auto;
        text-align: left;
      }

      &::after {
        @media (min-width: $screen-md) {
          transform: translateX(-100%);
        }

        @media (min-width: $screen-lg) {
          transform: none;
        }
      }
    }

    #{$block-name}__content {
      @media (min-width: $screen-lg) {
        padding-left: 48px;
      }
    }

    #{$block-name}__list {
      margin-top: 30px;
      flex-direction: column;

      @media (min-width: $screen-md) {
        height: 714px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-top: -122px;
      }

      @media (min-width: $screen-lg) {
        height: auto;
        display: block;
        margin-top: 30px;
      }
    }

    #{$block-name}__item {
      display: block;
      width: auto;
      margin: 0;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      &--fb {
        @media (min-width: $screen-md) {
          margin-top: 180px;
          margin-right: 40px;
        }

        @media (min-width: $screen-lg) {
          margin-top: 0;
          margin-right: 0;
        }
      }
    }

  }

  &--right {

    #{$block-name}__inner {
      position: relative;
      @include container;
    }

    #{$block-name}__content {

      @media (min-width: $screen-lg) {
        position: absolute;
        left: get-width(1,2,lg) - $screen-padding-lg;
        top: -563px;
        width: get-width(3,1,lg) - $screen-padding-lg;
        padding-left: 48px;
      }

      @media (min-width: $screen-xl) {
        left: get-width(1,2,xl) - $screen-padding-xl;
        width: get-width(3,1,xl) - $screen-padding-xl;
      }
    }

  }

  &--news {
      margin-bottom: 30px;

      @media (min-width: $screen-lg) {
        margin-bottom: 0;
      }


    #{$block-name}__content {

      @media (min-width: $screen-lg) {
        position: absolute;
        left: get-width(1,2,lg) - $screen-padding-lg;
        top: -100px;
        //transform: translateY(-100%);
        width: get-width(3,1,lg) - $screen-padding-lg;
        padding-left: 48px;
      }

      @media (min-width: $screen-xl) {
        left: get-width(1,2,xl) - $screen-padding-xl;
        width: get-width(3,1,xl) - $screen-padding-xl;
      }
    }

  }

  &--service {

    @media (min-width: $screen-lg) {
      margin-top: -180px;
    }

    #{$block-name}__list {
      margin-top: 48px;

      @media (min-width: $screen-md) {
        margin-top: 48px;
      }

      @media (min-width: $screen-lg) {
        margin-top: 48px;
      }

      @media (min-width: $screen-xl) {
        margin-top: 48px;
      }
    }
  }

  &--about-social {
    #{$block-name}__content {

      @media (min-width: $screen-lg) {
        top: -405px;
      }

    }

    #{$block-name}__list {

      @media (min-width: $screen-lg) {
        margin-top: 60px;
      }
    }
  }

}
