// В этом файле должны быть стили для БЭМ-блока social-widget, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social-widget {

  $block-name:                &; // #{$block-name}__element

  width: 96px;


  .ya-share2__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .ya-share2__item {
    font-size: 0;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-bottom: none;
    box-sizing: border-box;
  }

  .ya-share2__item:nth-child(2n) {
    border-left: none;
  }

  .ya-share2__item:nth-last-child(-n + 2) {
    border-bottom: 1px solid #fff;
  }

  .ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
    margin: 0;
    display: inline-flex;
  }

  .ya-share2__link {
    display: flex;
    width: 100%;
  }

  .ya-share2__badge {
    width: 100%;
    border-radius: 0;
  }

  .ya-share2__container_size_l .ya-share2__badge .ya-share2__icon {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: center;
  }

  li.ya-share2__item > a > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .ya-share2__item_service_vkontakte {
  //   background-image: url('../img/sprite.svg#vk');
  //   background-size: 24px 24px;
  //   background-position: cetner;
  // }

  &__inner {

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 96px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    border: 1px solid currentColor;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    line-height: 0;
    color: currentColor;

    &:hover,
    &:focus,
    &:active {
      color: currentColor;
    }
  }

  &--article {
    margin-top: 7px;
    margin-left: 48px;
  }
}
