// В этом файле должны быть стили для БЭМ-блока social-widget, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social-widget {

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 96px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    border: 1px solid currentColor;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    line-height: 0;
    color: currentColor;

    &:hover,
    &:focus,
    &:active {
      color: currentColor;
    }
  }

  &--article {
    margin-top: 7px;
    padding-left: 48px;
  }
}
