// В этом файле должны быть стили для БЭМ-блока phone, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.phone {

  $block-name:                &; // #{$block-name}__element

  font-size: 24px;
  font-weight: 600;
  line-height: 1;

  &:hover,
  &:focus {
    color: currentColor;
  }

  &--top {
    position: absolute;
    left: get-point(2, xl);
    bottom: 0;
    padding-left: 48px;
  }

}
