// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {

  $block-name:                &; // #{$block-name}__element

  overflow: hidden;
  padding-top: 164px;

  @media (min-width: $screen-lg) {
    margin-bottom: 100px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 100px;
    margin-bottom: 0;
  }

  &__inner {
    @include container-wide;
    position: relative;
    margin-bottom: 162px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      position: static;
      display: flex;
      width: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__container {
    @include container;
  }

  &__arrows {
    position: absolute;
    display: flex;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    @media (min-width: $screen-md) {
      left: 30px;
      transform: none;
    }

    @media (min-width: $screen-lg) {
      bottom: 0;
      left: auto;
      right: 30px;
    }

    @media (min-width: $screen-xl) {
      left: auto;
      right: -130px;
      bottom: -15px;
      transform: translateX(100%);
    }
  }

  &__prev {
    margin-right: 15px;
  }

  &__primary {
    width: 100%;
    height: 966px;

    @media (min-width: $screen-md) {
      //height: 694px;
      height: auto;
    }

    @media (min-width: $screen-lg) {
      height: auto;
    }

    @media (min-width: $screen-xl) {
      position: relative;
      width: 885px;
      height: 668px;
    }
  }

  &__second {
    width: 428px;
    position: relative;
  }

  &__card-link {
    position: absolute;
    top: -69px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media (min-width: $screen-md) {
      left: auto;
      right: 40px;
      transform: none;
    }

    @media (min-width: $screen-xl) {
      left: auto;
      right: -130px;
      transform: translateX(100%);
      top: -68px;
    }
  }

}

.primary-slider {

  $block-name:                &; // #{$block-name}__element

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: normal;
  }

  &__item-inner {
    position: relative;
    padding-bottom: 298px;

    @media (min-width: $screen-md) {
      padding-bottom: 26px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 56px;
    }
  }


  &__img {
    line-height: 0;
    direction: rtl;
    overflow: hidden;
    display: flex;
    height: 668px;

    img {
      max-width: none;
      object-fit: none;
      object-position: right top;
    }
  }

  &__desc {
    position: absolute;
    left: 0;
    top: 286px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 42px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 73px;
    background-color: #fff;
    color: #000;

    @media (min-width: $screen-md) {
      padding-top: 48px;
      padding-left: 38px;
      width: 729px;
    }

    @media (min-width: $screen-lg) {
      width: 643px;
      min-height: 438px;
      padding-bottom: 30px;
      top: auto;
      bottom: 0;
      justify-content: flex-start;
      align-content: flex-start;
    }

    @media (min-width: $screen-xl) {
      width: 618px;
      top: auto;
      left: auto;
      right: 234px;
      bottom: 0;
      padding-left: 40px;
      padding-right: 50px;
    }
  }

  .glide-slider--active {
    // right: 235px;
  }

  &__number-wrapper {
    margin-bottom: 40px;
    order: -1;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      order: 0;
    }

  }

  &__number {
    font-family: $font-family--monospace;
    font-size: 160px;
    font-weight: 700;
    line-height: 0.7;
  }

  &__month {
    margin-top: 24px;
    font-family: $font-family--monospace;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.8;
  }

  &__item-title {
    margin-top: 10px;
    flex-basis: 100%;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;

    @media (min-width: $screen-md) {
      flex-basis: 376px;
      max-width: 376px;
    }

    @media (min-width: $screen-lg) {
      flex-basis: 355px;
      max-width: 355px;
    }

    @media (min-width: $screen-xl) {
      flex-basis: 320px;
      max-width: 320px;
    }
  }

  &__item-text {
    flex-basis: 430px;
    margin-top: 38px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;

    @media (min-width: $screen-md) {
      line-height: 18px;
      margin-top: 48px;
    }

    @media (min-width: $screen-lg) {
    }

    @media (min-width: $screen-xl) {
    }
  }

}

.second-slider {
  position: relative;

  $block-name:                &; // #{$block-name}__element
  margin-top: 56px;

  display: none;

  @media (min-width: $screen-xl) {
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    // &::after {
    //   content: attr(data-index);
    //   font-family: $font-family--monospace;
    //   color: rgba(255,255,255,0.1);
    //   text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    //   position: absolute;
    //   left: 30px;
    //   top: 30px;
    //   font-size: 100px;
    //   font-weight: 700;
    // }
  }

  &__number-wrapper {
    position: absolute;
    display: block;
    left: 140px;
    top: 240px;
  }

  &__number {

    text {
      font-family: $font-family--monospace;
      font-weight: 700;
      font-size: 210px;
      line-height: 0.7;
    }

  }

  &__month {

    text {
      font-family: $font-family--monospace;
      font-weight: 700;
      font-size: 30px;
      line-height: 0.7;
    }
  }

  &__img {
    line-height: 0;
    background-color: $black;
    height: 668px;

    img {
      max-width: none;
      opacity: 0.32;
    }
  }

}

