// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {

  $block-name:                &; // #{$block-name}__element


  background-color: $black;
  overflow: hidden;
  height: 888px;


  @media (min-width: $screen-xl) {
    padding-top: 164px;
  }


  &__inner {
    // @include container-wide();
    display: flex;
  }

  &__arrows {
    position: absolute;
    z-index: 99999;
  }

  &__primary {
    // width: 885px;
    width: 1174px;
  }

  &__second {
    width: 428px;
  }

}

.primary-slider {


  $block-name:                &; // #{$block-name}__element
  // width: 885px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item.glide__slide {
    // visibility: hidden;
  }

  &__img {
    line-height: 0;
    direction: rtl;
    overflow: hidden;

    img {
      max-width: none;
    }
  }


  .glide__slide.glide__slide--active {

    visibility: visible;

    #{$block-name}__img {
      overflow: visible;
    }

    & + .glide__slide #{$block-name}__img {
      // visibility: visible;
    }

  }

  &__track.glide__track {
    // overflow: visible;
  }

  &__slider.glide {
  }

}

.second-slider {

  $block-name:                &; // #{$block-name}__element
  // width: 428px;
  margin-top: 56px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item.glide__slide {
    // visibility: hidden;
  }

  .glide__slide.glide__slide--active {

    visibility: visible;
    z-index: 1;

    #{$block-name}__img {
      overflow: visible;
    }

    & + .glide__slide #{$block-name}__img {
      // visibility: visible;
    }

  }

  &__img {
    line-height: 0;

    img {
      max-width: none;
    }
  }

  &__track.glide__track {
    // overflow: visible;
  }

}

