// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {

  $block-name:                &; // #{$block-name}__element

  background-color: $black;
  overflow: hidden;


  @media (min-width: $screen-xl) {
    padding-bottom: 92px;
    padding-top: 164px;
  }


  &__inner {
    display: flex;
  }

  &__arrows {
    position: absolute;
    left: 140px;
    bottom: 35px;
    z-index: 99;
  }

  &__prev {
    margin-right: 15px;
  }

  &__primary {
    width: 885px;
    height: 668px;
    position: relative;
  }

  &__second {
    width: 428px;
    position: relative;
  }

  &__card-link {
    position: absolute;
    left: 130px;
    top: -68px;
  }

}

.primary-slider {

  $block-name:                &; // #{$block-name}__element

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item-inner {
    position: relative;
    padding-bottom: 56px;
  }


  &__img {
    line-height: 0;
    direction: rtl;
    overflow: hidden;
    display: flex;
    height: 668px;

    img {
      max-width: none;
      object-fit: none;
      object-position: right top;
    }
  }

  &__desc {
    position: absolute;
    right: 236px;
    // left: 1px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 618px;
    padding-top: 42px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 73px;
    background-color: #fff;
    color: #000;
  }

  .glide-slider--active {
    // right: 235px;
  }

  &__number {
    font-family: $font-family--monospace;
    font-size: 210px;
    font-weight: 700;
    line-height: 0.7;
  }

  &__item-title {
    margin-top: 10px;
    flex-basis: 288px;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;
  }

  &__item-text {
    flex-basis: 430px;
    margin-top: 58px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
  }

}

.second-slider {
  position: relative;

  $block-name:                &; // #{$block-name}__element
  margin-top: 56px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    // &::after {
    //   content: attr(data-index);
    //   font-family: $font-family--monospace;
    //   color: rgba(255,255,255,0.1);
    //   text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    //   position: absolute;
    //   left: 30px;
    //   top: 30px;
    //   font-size: 100px;
    //   font-weight: 700;
    // }
  }

  &__number {
    position: absolute;
    display: block;
    left: 140px;
    top: 240px;

    text {
      font-family: $font-family--monospace;
      font-weight: 700;
      font-size: 210px;
      line-height: 0.7;
    }

  }

  &__img {
    line-height: 0;
    background-color: $black;
    height: 668px;

    img {
      max-width: none;
      opacity: 0.32;
    }
  }

}

