//- Все примеси в этом файле должны начинаться c имени блока (off-top)

mixin off-top(mods)

  -
   var allMods = '';
   if(typeof(mods) !== 'undefined' && mods) {
     var modsList = mods.split(',');
     for (var i = 0; i < modsList.length; i++) {
       allMods = allMods + ' off-top--' + modsList[i].trim();
     }
   }

  .off-top(class=allMods)&attributes(attributes)
    .off-top__inner
      .off-top__top
        +logo('/','off-top')
          img(src='img/logo-black.png', alt='Logo', width='216', height='29')
        +btn('Закрыть','common')(class="off-top__close" data-toggle="off-canvas")
      .off-top__menu
        +main-nav-side('10')
      +caption-large('nicefitness','off-top')(class="off-top__title")
      //- .off-top__title.caption-large
      //-   .caption-large__inner
      //-     .off-top__title-text.caption-large__text nicefitness
      .off-top__bottom
        +card(class="off-top__card-link")


