// В этом файле должны быть стили для БЭМ-блока shedule, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.schedule {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
  }

  &__col {
    &--workdays {
      margin-right: 38px;
    }
  }

  &__name {
    font-size: 11px;
    font-weight: 700;
    font-family: $font-family;
    font-weight: 400;
  }

  &__hours {
    font-weight: 700;
  }

  &--top {
    position: absolute;
    left: get-point(1, xl);
  }
}
