mixin sign-up

  .sign-up&attributes(attributes)
    .caption-medium
      a(href="/") Записаться
    .page__section-row
      span 7 дней бесплатного посещения
      +btn('Получить 7 дней тест драйва','accent')(data-toggle="modal" data-target="#test-drive")
    .page__section-img
      img(src="img/sign-up.jpg" width="1060" height="596")
