// В этом файле должны быть стили для БЭМ-блока article-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.article-slider {

  $block-name:                &; // #{$block-name}__element
  margin-top: 60px;

  @media (min-width: $screen-lg) {
    margin-top: 110px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    transition: 1s;
  }

  &__item:not(.glide__slide--active) {
    transform: scale(0.74);
  }

  &__arrows {
    margin-bottom: 60px;

    @media (min-width: $screen-md) {
      margin-left: 40px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 110px;
    }
  }

}
